<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">

  <display-name>seoul2</display-name>
  
  <!-- Context.xml에 등록된 resource를 사용할 수 있도록 import -->
	<servlet>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.seoul.servlet.FrontControllerServlet</servlet-class>
		<init-param>
			<param-name>path</param-name>
			<param-value>/WEB-INF/mappings.properties</param-value>
		</init-param>
	</servlet>
  
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
  
  
</web-app>